<h1>Add a new movie</h1>

<form action="/create_movie">
  <div>
    <label for="Title">title</label>
    <input id="Title" type="text" name="title">
  </div>
  <div>
    <label for="Year">Caption</label>
    <input id="Year" type="text" name="year">
  </div>
  <div>
    <label for="Duration">duration</label>
    <input id="Duration" type="text" name="duration">
  </div>
  <div>
    <label for="Description">description</label>
    <input id="Description" type="text" name="description">
  </div>
  <div>
    <label for="Image url">Image URL</label>
    <input id="Image url" type="text" name="image_url">
  </div>

  <button>Create movie</button>
</form>