<h1>Add a new director</h1>

<form action="/create_director">
  <div>
    <label for="Name">name</label>
    <input id="Name" type="text" name="name">
  </div>
  <div>
    <label for="Bio">Bio</label>
    <input id="Bio" type="text" name="bio">
  </div>
  <div>
    <label for="Dob">Dob</label>
    <input id="Dob" type="text" name="dob">
  </div>
  <div>
    <label for="Image url">Image URL</label>
    <input id="Image url" type="text" name="image_url">
  </div>

  <button>Create director</button>
</form>