<!DOCTYPE html>
<html>
<head>
  <title>MustSeeMoviesGoldenSeven</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= yield %>
  </div>

  <div class="rails-toolbar">
    <a href="/rails/git" target="_blank" class="rails-toolbar-button">
      Git
    </a>
  </div>
</body>
</html>
